# Environment variables to add to the dev container

# Set container role
# - 'node': container will run hardhat node
# - 'dev': container will run in dev environment
CONTAINER_ROLE=dev

# Git details
GIT_USER="Firstname Lastname"
GIT_EMAIL="Email address"

# Config for hardhat-gas-reporter
# If API key is not provided and REPORT_GAS is true then report only provides estimated wei, no prove in GBP
REPORT_GAS=true
COINMARKETCAP_API_KEY=<coinmarketcap_api_key>

# Config to deployment to Rinkeby testnet
RINKEBY_URL=https://rinkeby.infura.io/v3/<api_key>
RINKEBY_ACCOUNT=<rinkeby_account>

# Config for deployment to mainnet
# NOTE: these values are fakes and will not work.
MAINNET_URL=https://mainnet.infura.io/v3/<api_key>
MAINNET_ACCOUNT=<mainnet_account>

# Etherscan API key.  Add to enable contract verification
ETHERSCAN_API_KEY=J<etherscan_api_key>