# Environment variables to apply to the node container
# If NOT running node in a container then create these variables locally if required

# Set container role to run as a node
CONTAINER_ROLE=node

# Ethernal configuration
ETHERNAL_ENABLED=true
ETHERNAL_EMAIL=<email_address>
ETHERNAL_PASSWORD=<ethernal_account_password>
ETHERNAL_WORKSPACE=<athernal_workspace_name>
ETHERNAL_RESET_ON_START=true